@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000;
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: white;
  font-size: 1.5rem;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
